* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f4f6fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    text-align: center;
    align-items: center;
    color: #333;
    margin-bottom: 25%;
    margin-right: 25%;
}

form {
    background:whitesmoke;
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-left:-40%;
    margin-bottom: 10%;
    border: 2px solid black;
}

form p {
    margin-bottom: 20px;
}

input[type="file"],
input[type="text"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin-top: 5px;
}

button {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

p[style*="color:red"] {
    text-align: center;
    font-weight: bold;
    margin-bottom:40%;
    margin-left: -30%;
}
